@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}
.bod {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 18%, 26%);
  padding: 0px 20px;
}
.main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  height: fit-content;
}
.main.active {
  display: none;
}
.main .left {
  margin: 10px;
  width: 55%;
  padding-left: 20px;
}
.left h1 {
  font-weight: 600;
  font-size: 53px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.left .p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.left li {
  display: flex;
  line-height: 40px;
}
.left li p {
  padding-left: 1rem;
  font-weight: bold;
}
label {
  margin: 10px 0px;
  font-size: 13px;
}
input[type="email"] {
  margin: 10px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 12px 20px;
  font-weight: 400;
  border-radius: 7px;
}
.left .btn {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  font-weight: 400;
  border-radius: 7px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.left .btn:active {
  color: white;
  background: linear-gradient(to right, rgb(212, 71, 45), hsl(4, 100%, 67%));
}

.right {
  width: 45%;
  background-image: url(image/illustration-sign-up-desktop.svg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  max-height: 100%;
}
/* sucess */
.popup {
  display: none;
  width: 370px;
  height: 390px;
  background-color: white;
  border-radius: 6px;
  padding: 15px 30px 30px;
  text-align: center;
  color: #333;
}
.popup.active {
  display: block;
}
.popup h1 {
  margin-bottom: 15px;
}
.popup span img {
  margin-bottom: 10px;
}
.popup p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
}
.popup p span {
  font-weight: 600;
}
.popup button {
  width: 100%;
  padding: 13px 0px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.popup button:hover {
  color: white;
  background-color: hsl(4, 100%, 67%);
}
@media (max-width: 750px) {
  .bod {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: center;
    gap: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    border-radius: 0px;
  }
  .main .left {
    margin: 10px;
    width: 100%;
    padding: 0px 30px;
  }

  .right {
    background-image: url(image/illustration-sign-up-mobile.svg);
    height: 300px;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .left h1 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .left .p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  .left li {
    display: flex;
    line-height: 40px;
  }
  .left li p {
    padding-left: 1rem;
    font-size: 18px;
    letter-spacing: 1px;
  }
  form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 650px;
  }
  label {
    font-size: 15px;
  }
  input[type="email"] {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-weight: 400;
    border-radius: 7px;
  }
  .left .btn {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-weight: 400;
    border-radius: 7px;
    color: white;
    background-color: black;
    /* background: linear-gradient(to right, rgb(212, 71, 45), hsl(4, 100%, 67%)); */
  }
  .left .btn:active {
    color: white;
    background: linear-gradient(to right, rgb(212, 71, 45), hsl(4, 100%, 67%));
  }
  .popup {
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: initial;
    background-color: white;
    border-radius: 0px;
    padding: 30px;
    color: #333;
    padding-top: 5rem;
    position: relative;
  }
  .popup button {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    width: 80%;
  }
  .popup span img {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .left h1 {
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .popup button {
    width: 85%;
  }
}
@media (max-width: 442px) {
  .left h1 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}
@media (max-width: 409px) {
  .left h1 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .left h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .left .p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    letter-spacing: 1px;
  }
  .left li {
    display: flex;
    line-height: 30px;
  }
  .left li p {
    padding-left: 1rem;
    font-size: 13px;
    letter-spacing: 0.5 px;
  }
  form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 650px;
  }
  label {
    font-size: 12px;
    font-weight: bold;
  }
}
